*{
    font-family:'Calibri';
}

h4{
    font-size: large;
}

h6{
    font-weight: bold !important;
}

.card-img:hover{
    transform: translateY(-10px);
}

.icono{
    width: 40px;
    margin-left: 4px;
}

.negrita{
    font-weight: bold;
}